@font-face {
    font-family: "agentorange";
    src: url('file:///android_asset/agentorange.ttf');
}

body > div {
    pad-left: 50px;
}

#top-img, #bot-img {
    height: 265px;
    width: 375px;
}

#button-section {
    height: 20%;
}

#button-section{
    text-align: center;
    pad-top: 10px;
}

.plus {
    text-align: center;
    height: 20px;
}

#left-button, #right-button {
    width: 100px;
    height: 55px;
}

.hide {
    display: none;
}