@font-face {
    font-family: "agentorange";
    src: url('file:///android_asset/agentorange.ttf');
}

.agentorange {
    font-family: 'agentorange';
}

body {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

#main-div {
    width:100%;
    height:100%;
}

#top-div {
    width:100%;
    height: 15%;
}

#mid-div {
    position: relative;
    width:100%;
    height: 70%;
}

#bottom-div{
    width:100%;
    height: 15%;
}

.main-card {
    position: absolute;
    bottom: 0;
    width: 97%;
    height auto;
}

.main-card-text{
    position: absolute;
    width: 85%;
    height: 55%;
    padding-left: 40px;
    bottom: 0;
    text-align: center;
}

.top-left-main-card {
    position: absolute;
    width: 45%;
    height 45%;
    float: left;
}

.top-right-main-card {
    position: relative;
    width: 45%;
    height 45%;
    float: right;
}

.bot-left-main-card {
    position: absolute;
    width: 45%;
    height 45%;
    float: left;
    bottom: 10;
}

.left-button {
    height: 100%;
    float: left;
}

.right-button {
    height: 100%;
    float: right;
}