body {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

#main-div {
    width:100%;
    height:100%;
}

#top-div {
    width:100%;
    height: 15%;
}

#mid-div {
    position: relative;
    width:100%;
    height: 70%;
}

#bottom-div{
    width:100%;
    height: 15%;
}

.main-card {
    position: absolute;
    bottom: 0;
    width: 97%;
    height auto;
}

.left-button {
    height: 100%;
    float: left;
}

.right-button {
    height: 100%;
    float: right;
}