@font-face {
    font-family: "agentorange";
    src: url('file:///android_asset/agentorange.ttf');
}

.agentorange {
    font-family: 'agentorange';
}

body {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

#main-div {
    width:100%;
    height:100%;
}

#top-div {
    width:100%;
    height: 15%;
}

#mid-div {
    position: relative;
    width:100%;
    height: 70%;
}

#bottom-div{
    width:100%;
    height: 15%;
}

.main-card {
    position: absolute;
    bottom: 0;
    width: 97%;
    height auto;
}

.main-card-text{
    position: absolute;
    width: 85%;
    height: 55%;
    padding-left: 40px;
    bottom: 0;
    text-align: center;
}

#quad > div {
    position: relative;
    width: 100%;
    height: 50%;
}

.quad-left {
    width: 48%;
    height 45%;
    float: left;
}

.quad-right {
    width: 48%;
    height 45%;
    padding-right: 5px;
    float: right;
}

.quad-left > img, .quad-right > img {
    width: 100%;
    height: 100%;
}

.quad-left > div , .quad-right > div{
    position: absolute;
    top: 25;
    width: 45%;
    text-align: center;
}

.left-button {
    height: 100%;
    float: left;
    width: 18%;
}

.progress {
    height: 70%;
    width: 14%;
}

.right-button {
    height: 100%;
    float: right;
    width: 18%;
}

.right-button-record {
    height: 75%;
    float: right;
    width: 18%;
}

.top-img {
    height: 100%;
    width: 100%;
}

.top-img[src="file:///android_res/drawable/safe_msg_eye_contact.png"], .top-img[src="file:///android_res/drawable/safe_msg_push_record.png"]{
    height: 300px;
}