<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asu.reach">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver android:name=".NotifyService$NotifyServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Landing"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Relaxation"
            android:label="@string/title_activity_relaxation"></activity>
        <activity
            android:name=".STOP"
            android:label="@string/title_activity_stop"></activity>
        <activity
            android:name=".STIC"
            android:label="@string/title_activity_stic"></activity>
        <activity
            android:name=".DailyDiary"
            android:label="@string/title_activity_daily_diary"></activity>
        <activity
            android:name=".Blob"
            android:label="@string/title_activity_blob"></activity>
        <activity
            android:name=".WorryHeads"
            android:label="@string/title_activity_worry_heads"></activity>
        <activity
            android:name=".Safe"

            android:screenOrientation="portrait"
            android:label="@string/title_activity_safe" >
        </activity>

        <activity android:name=".Preferences" />
        <activity
            android:name=".DatePreferenceActivity"
            android:label="@string/title_activity_date_preference"></activity>
        <activity
            android:name=".NotifManager"
            android:label="@string/title_activity_date_preference"></activity>

        <service
            android:name=".NotifyService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".HelperService"
            android:exported="false" />

        <activity android:name=".AttentionBiasedToolbox"></activity>
    </application>

</manifest>