<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asu.reach">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <receiver android:name=".NotifyService$NotifyServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Landing"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Relaxation"
            android:label="@string/title_activity_relaxation" />
        <activity
            android:name=".STOP"
            android:label="@string/title_activity_stop" />
        <activity
            android:name=".STIC"
            android:label="@string/title_activity_stic" />
        <activity
            android:name=".DailyDiary"
            android:label="@string/title_activity_daily_diary" />
        <activity
            android:name=".Blob"
            android:label="@string/title_activity_blob" />
        <activity
            android:name=".WorryHeads"
            android:label="@string/title_activity_worry_heads" />
        <activity
            android:name=".Safe"
            android:label="@string/title_activity_safe"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SafeWebView"
            android:label="@string/title_activity_safe"
            android:screenOrientation="portrait"/>

        <activity android:name=".Preferences" />

        <activity
            android:name=".DatePreferenceActivity"
            android:label="@string/title_activity_date_preference" />
        <activity
            android:name=".NotifManager"
            android:label="@string/title_activity_date_preference" />

        <service
            android:name=".NotifyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".HelperService"
            android:exported="false" />

        <activity
            android:name=".AttentionBiasedToolbox"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".AttentionBiasedToolboxWebview"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ABMTStartScreen"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>